@page "/promotion/{PromotionID:int}"
@using Dealty.Shared
@inject Dealty.Shared.Data.PromotionStateContainer myPromotionState

@inject IHttpClientFactory ClientFactory
@*@inject IJSRuntime jsRuntime*@

<h1>@promotion.Title (id=@PromotionID)</h1>
<h3>@promotion.Description</h3>

@promotion.Country
Dodano: @promotion.InsertDate
Ostatnia aktualizacja: @promotion.UpdateDate
@*<h2>@promotion.Title</h2>*@


<a href="/promotions">Back</a>
@code {
    private bool isAfterRender = false;
    private Dealty.Shared.Data.Promotion promotion;

    [Parameter]
    public int PromotionID { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        promotion = myPromotionState.Value;
    }
}